node_modules/
*.log
.nyc_output
.vscode/
.idea
.DS_Store
.nyc
coverage/

/packages/*/*/
!/packages/*/src/
!/packages/*/test/
/packages/**/*.js
/packages/**/*.d.ts
!/packages/*/src/**/*.js
!/packages/*/src/**/*.d.ts
